@model List<Web_DuLichVietNam.Framework.HUONGDANVIEN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <div>
                    <a href="/Admin/HDV/Create">INSERT HDV</a>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã KH</th>
                                <th>Tên KH</th>                                
                                <th>SĐT</th>
                                <th>Địa chỉ</th>    
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Mã KH</th>
                                <th>Tên KH</th>
                                <th>SĐT</th>
                                <th>Địa chỉ</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.MaHDV">

                                    <td>@item.MaHDV</td>
                                    <td>@item.TenHDV</td>                                    
                                    <td>@item.SDT</td>
                                    <td>@item.DiaChi</td>
                                    <td>
                                        <a href="/Admin/HDV/Edit/@item.MaHDV">Sửa</a>
                                        |
                                        <a href="/Admin/HDV/Delete/@item.MaHDV">Xóa</a>
                                        |

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

