
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Web_DuLichVietNam.EF
@{
    var chudelist = ViewBag.ChuDeList as IEnumerable<CHUDE>;
   
}
<!-- /contact-grid1 -->
<section class="w3l-contact-section-main">
    <div class="contact-sec-inner">
        <div class="contacts-5-grid">
            <div class="contacts-sub-5">
                <iframe src="https://maps.google.com/maps?q=236%20Ho%C3%A0ng%20Qu%E1%BB%91c%20Vi%E1%BB%87t,%20H%C3%A0%20N%E1%BB%99i&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        style="border:0" allowfullscreen></iframe>
            </div>
            <div class="container">
                <div class="map-content-5">
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label class="tabtle" for="tab1">Hà Nội</label>

                    <input id="tab2" type="radio" name="tabs">
                    <label class="tabtle" for="tab2">TP HCM</label>

                    <input id="tab3" type="radio" name="tabs">
                    <label class="tabtle" for="tab3">Đà Nẵng</label>

                    <input id="tab4" type="radio" name="tabs">
                    <label class="tabtle" for="tab4">Cần Thơ</label>

                    <section id="content1" class="tab-content">
                        <div class="d-grid grid-col-4">
                            <div class="service-col-4 contact">
                                <div class="icon-contact"><span class="fa fa-home" aria-hidden="true"></span></div>
                                <h6>Địa chỉ</h6>
                                <p>236 Đường Hoàng Quốc Việt, Hà Nội</p>

                            </div>
                            <div class="service-col-4 contact">
                                <div class="icon-contact">
                                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                </div>
                                <h6>Email</h6>
                                <a href="mailto:3MSGlobalhanoi1@gmail.com" class="link1">3MSGlobalhanoi1@gmail.com</a>
                                <a href="mailto:3MSGlobalhanoi2@gmail.com" class="link1">3MSGlobalhanoi2@gmail.com</a>
                            </div>
                            <div class="service-col-4 contact">
                                <div class="icon-contact"><span class="fa fa-phone"></span></div>
                                <h6>Điện thoại</h6>
                                <a href="tel:(+84) 024-544-6666" class="link1">(+84) 024-544-6666</a>
                                <a href="tel:(+84) 024-533-6666" class="link1">(+84) 024-533-6666</a>

                            </div>

                        </div>

                    </section>

                    <section id="content2" class="tab-content">
                        <div class="d-grid grid-col-4">
                            <div class="service-col-4">
                                <div class="icon-contact"><span class="fa fa-home" aria-hidden="true"></span></div>
                                <h6>Địa chỉ</h6>
                                <p>135 Nam Kỳ Khởi Nghĩa, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh </p>

                            </div>
                            <div class="service-col-4">
                                <div class="icon-contact">
                                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                </div>
                                <h6>Email</h6>
                                <a href="mailto:3MSGlobalhcm1@gmail.com" class="link1">3MSGlobalhcm1@gmail.com</a>
                                <a href="mailto:3MSGlobalhcm2E@gmail.com" class="link1">3MSGlobalhcm2@gmail.com</a>
                            </div>
                            <div class="service-col-4">
                                <div class="icon-contact"><span class="fa fa-phone"></span></div>
                                <h6>Điện thoại</h6>
                                <a href="tel:(+971) 400-4111" class="link1">(+971) 400-4111</a>
                                <a href="tel:(+971) 400-4222" class="link1">(+971) 400-4222</a>

                            </div>

                        </div>

                    </section>
                    <section id="content3" class="tab-content">
                        <div class="d-grid grid-col-4">
                            <div class="service-col-4">
                                <div class="icon-contact"><span class="fa fa-home" aria-hidden="true"></span></div>
                                <h6>Địa chỉ</h6>
                                <p>	81 Huyền Trân Công Chúa, Hoà Hải, Ngũ Hành Sơn, Đà Nẵng</p>
                            </div>
                            <div class="service-col-4">
                                <div class="icon-contact">
                                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                </div>
                                <h6>Email</h6>
                                <a href="mailto:3MSGlobaldanang@gmail.com" class="link1">3MSGlobaldanang@gmail.com</a>
                                <a href="mailto:3MSGlobaldanang@gmail.com" class="link1">3MSGlobaldanang@gmail.com</a>
                            </div>
                            <div class="service-col-4">
                                <div class="icon-contact"><span class="fa fa-phone"></span></div>
                                <h6>Điện thoại</h6>
                                <a href="tel:(+7) 499-4033570" class="link1">(+7) 499-4033570</a>
                                <a href="tel:(+7) 499-1136143" class="link1">(+7) 499-1136143</a>
                            </div>

                        </div>

                    </section>

                    <section id="content4" class="tab-content">
                        <div class="d-grid grid-col-4">
                            <div class="service-col-4">
                                <div class="icon-contact"><span class="fa fa-home" aria-hidden="true"></span></div>
                                <h6>Địa chỉ</h6>
                                <p>335 Lộ Vòng Cung, Mỹ Khánh, Phong Điền, Cần Thơ</p>

                            </div>
                            <div class="service-col-4">
                                <div class="icon-contact">
                                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                </div>
                                <h6>Email</h6>
                                <a href="mailto:stroll1@example.com" class="link1">3MSGlobalCanTho@gmail.com</a>
                                <a href="mailto:stroll2@example.com" class="link1">3MSGlobalCanTho1@gmail.com</a>
                            </div>
                            <div class="service-col-4">
                                <div class="icon-contact"><span class="fa fa-phone"></span></div>
                                <h6>Điện thoại</h6>
                                <a href="tel:+1(21) 224-016-8764" class="link1">(+33) 185737840</a>
                                <a href="tel:+1(21) 224-016-8765" class="link1">(+33) 186489740</a>
                            </div>

                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- //contact-grid1 -->

</section>
<!-- /contact-form -->
<section class="w3l-contact-section-form">
    <div class="contact-sec-inner py-5">
        <div class="container py-lg-5">
            <div class="contact-form-mainv">
                <span class="sub-title">LIÊN HỆ</span>
                <h3 class="hny-title">Trao đổi với chúng tôi </h3>
                <p class="para-contact mb-lg-5 mb-4">
                    Hãy để lại phương thức liên hệ ngắn gọn dưới đây
                </p>
                <form method="post">

                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label for="w3lName">Họ tên</label>

                            <input type="text" name="HoTen">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="w3lSender">Email</label>
                            <input type="text" name="Email">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label>Chủ đề</label>
                            <br />
                            <select name="MaCD" class="selectpicker select_style form-group" style="margin-top: 10px;width:349px; border:1px solid #dcdada; border-radius:10px; height:62px">
                                @foreach (var item in chudelist)
                                {
                                    <option value="@item.MaCD">@item.TenCD</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="w3lSubject">Tin nhắn</label>
                        <textarea name="TinNhan" placeholder="" required=""></textarea>
                    </div>
                    <div class="form-submit text-right mt-4">
                        <button type="submit" class="btn submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //contact-form -->
