@model List<Web_DuLichVietNam.Models.CartItem>

<div style="text-align: right;font-weight:bold; color:#006989" class="mb-5">
    <a href="/Cart/Index"><i class="fas fa-chevron-right"></i><span>&nbsp;&nbsp;Xem các Tour đã quan tâm : @Model.Count Tour</span></a>
</div>
