
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Web_DuLichVietNam.Framework
@model KHACHSAN
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Đặt Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Trang Chủ Admin</a></li>
            <li class="breadcrumb-item active">Quản Lý Khách Sạn</li>
        </ol>
        <div class="card mb-4">
            <div class="table-responsive p-3">
                <form method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-3 mt-3">
                            <label>Mã khách sạn</label>
                            <input type="number" name="MaKS" value=@Model.MaKS>
                        </div>


                        <div class="form-input col-md-9 mt-3">
                            <label>Tên khách sạn</label>
                            <input type="text" name="TenKS" value=@Model.TenKS>
                        </div>

                        <div class="form-input col-md-9 mt-3">
                            <label>Địa chỉ</label>
                            <input type="text" name="DiaChi" value=@Model.DiaChi>
                        </div>
                        <div class="form-input col-md-3 mt-3">
                            <label>Số Phòng</label>
                            <input type="number" name="SoPhong" value=@Model.SoPhong>
                        </div>


                        <div class="bottom-btn col-md-4 mt-3">
                            <button class="btn btn-style btn-primary w-100" type="submit">Xóa</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

